<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>backend-debug</servlet-name>
    <servlet-class>com.cunningstunts.abstemious.backend.DebugServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>backend-debug</servlet-name>
    <url-pattern>/debug</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Abstemious.html</welcome-file>
  </welcome-file-list>

</web-app>
